.card-img-top {
    height: 320px;
    object-fit: contain;
  }
  
  #productosGrid .card {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  #productosGrid .card:hover {
    transform: scale(1.05);
  }
  
  .boton-aceptado {
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  #contadorCarrito {
    font-size: 0.75rem;
  }
  